{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        {% block nav %}
            <nav class="navbar navbar-expand-lg nav-pills mb-3 ">
                <a class="navbar-brand" href="{% url 'wiki:index' %}"><h1>Wiki</h1></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ">
                    <li class="nav-item ">
                        {% block nav-home %}
                            <a class="nav-link" href="{% url 'wiki:index' %}">Home<span class="sr-only">(current)</span></a>
                        {% endblock %}
                    </li>
        
                    <li class="nav-item ">
                        {% block nav-create %}
                            <a class="nav-link " href = "{% url 'wiki:create' %}">Create New Page</a>
                        {% endblock %}
                    </li>
                    <li class="nav-item ">
                        {% block nav-random %}
                            <a class="nav-link"  href = "{% url 'wiki:random' %}">Random Page</a>
                        {% endblock %}
                    </li>
    
                    </ul>
                </div>
            </nav>
        {% endblock %}
        <div class="row">
            <div class="sidebar col-lg-3 col-md-3">
                
                <form action="{% url 'wiki:search_results'  %}" method="GET" class="search">
                    
                    {{form}}

                    <input  id = "search" type="submit">
                    
                </form>

                
            </div>
            <div class="main col-lg-9 col-md-9">
                {% block body %}
                
                {% endblock %}
            </div>
        </div>

    </body>
</html>